body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  padding-top: 125px;
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  text-align: center;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}

/***************CLASS SECTION*************/

              /************.top-container***********/
.top-container {
  background-color: #E8F9FD;
  text-align: center;
  position: relative;
}

.pro {
  text-decoration: underline;
  color: red;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 320px;
}

.bottom-cloud {
  position: absolute;
  top: 220px;
  left: 300px;
}
           /************ .middle-container ***************/

                                  /*******.profile**********/
.profile {
  background-color: #F9F9F9;
}

.profile-pic {
  position: relative;
  left: 600px;
  top: 5px;
}

.hello {
  text-align: center;
}
.h2-middle {
  text-align: center;
  padding-bottom: 8px;
}

.design {
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(to left, violet, indigo, blue, green, gold, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
}
                                 /*******.skills**********/

.web-dev-img {
  position: relative;
  left: 100px;
}

.excel-pic {
  position: relative;
  left: 380px;
  width: 350px; height: 350px;
  margin-bottom: 80px;
}


                                  /*******.skills-row-2**********/

.skill-row-2 {
  background-color: #f8f8f8;

}
.thali-pic {
  border-radius: 200%;
position: relative;
left: 465px;
margin-top: 20px;
padding: 20px;

}
                                 /*******.contact-me**********/
.contact-me {
  background-color: #EEF1FF;
}
